
<%- include("partials/header.ejs") %>

    <h1>About</h1>
    <p id="<%= aboutContent._id %>" section="<%= aboutContent.section %>"> <%= aboutContent.content %></p>

<%- include("partials/footer.ejs") %>
