
<%- include("partials/header.ejs") %>

    <h1>Home</h1>
    <p id="<%= homeContent._id %>" section="<%= homeContent.section %>"> <%= homeContent.content %></p>


    <% posts.forEach((post,index) => {%>
        <h2> <%= post.title  %></h2>
        <p> <%= post.content %>... <a href="posts/<%= post._id %>" >Read more.</a> </p>
        
    <% }); %>

    <h3><a href="compose">+ Compose</a></h3>


<%- include("partials/footer.ejs") %>
