
<%- include("partials/header.ejs") %>

    <h1>
        Post | <b><%= post.title %></b>
        <button type="button" class="btn btn-outline-danger functional" name="delBtn">Delete</button>
        <button type="button" class="btn btn-outline-info functional">Edit</button>
    </h1>
    <p id="<%= post._id %>" name="content"><%= post.content %></p>
    <nav class="nav">
        <a type="button" class="btn btn-secondary" href="/">Return</a>
    </nav>

    <script src="/js/posts/edit.js"></script>

<%- include("partials/footer.ejs") %>
